<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="_CSS_/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="_PUBLIC_/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="_CSS_/style.css" rel="stylesheet">
    <link href="_CSS_/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="_CSS_/to-do.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <include file="Public/header" />

    <include file="Public/admin_menu" admin_manager="active"/>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> 管理员管理</h3>

            <!-- 普通管理员列表 -->
            <div class="row mt">
                <div class="col-md-12">
                    <section class="task-panel tasks-widget">
                        <div class="panel-heading">
                            <div class="pull-left"><h5><i class="fa fa-tasks"></i> 普 通 管 理 员</h5></div>
                            <br>
                        </div>
                        <div class="panel-body">
                            <div class="task-content">

                                <ul class="task-list">
                                    <foreach name="normals" item="normal">
                                        <li>
                                            <div class="task-title">
                                                <span class="task-title-sp">{$normal.id} - {$normal.username}</span>
                                                <div id ="{$normal.id}" class="pull-right hidden-phone">
                                                    <button class="btn btn-warning btn-xs" title="设置权限" onclick="modify_auth(this)" {$able}><i class="fa fa-cog"></i></button>
                                                    <button class="btn btn-primary btn-xs" title="修改密码" onclick="edit(this)" {$able}><i class="fa fa-pencil"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="删除管理员" onclick="delete_user(this)" {$able}><i class="fa fa-trash-o "></i></button>
                                                </div>
                                            </div>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div><!-- /col-md-12-->
            </div><!-- /row -->

            <!-- 超级管理员列表 -->
            <div class="row mt">
                <div class="col-md-12">
                    <section class="task-panel tasks-widget">
                        <div class="panel-heading">
                            <div class="pull-left"><h5><i class="fa fa-tasks"></i> 超 级 管 理 员</h5></div>
                            <br>
                        </div>
                        <div class="panel-body">
                            <div class="task-content">

                                <ul class="task-list">
                                    <foreach name="supers" item="super">
                                        <li>
                                            <div class="task-title">
                                                <span class="task-title-sp">{$super.id} - {$super.username}</span>
                                                <div id ="{$super.id}" class="pull-right hidden-phone">                                                </div>
                                            </div>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div><!-- /col-md-12-->
            </div><!-- /row -->

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"> 修 改 密 码 </h4>
                        </div>
                        <form action="__URL__/editPassword" method="post">
                            <div class="modal-body">
                                <p>请输入新的密码</p>

                                <input type="hidden" name="id" value="">

                                <input required type="password" name="password1" autocomplete="off"
                                       class="form-control placeholder-no-fix">
                                <p>再次输入密码</p>
                                <input required type="password" name="password2" autocomplete="off"
                                       class="form-control placeholder-no-fix">

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取 消</button>
                                <button class="btn btn-theme" type="submit">确 认</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- modal end-->

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="authModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"> 设 置 权 限 </h4>
                        </div>
                        <form name="authForm" action="" method="post">
                            <div class="modal-body">
                                <p>请选择TA的权限</p>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="auth" value="3">
                                        超级管理员
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="auth" value="2" checked>
                                        普通管理员
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="auth" value="1">
                                        普通用户
                                    </label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取 消</button>
                                <button class="btn btn-theme" type="submit">确 认</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- modal end-->


        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
    <include file="Public/footer" />
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="_JS_/jquery.js"></script>
<script src="_JS_/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="_JS_/jquery.dcjqaccordion.2.7.js"></script>
<script src="_JS_/jquery.scrollTo.min.js"></script>
<script src="_JS_/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="_JS_/common-scripts.js"></script>

<!--script for this page-->
<script src="js/jquery-ui.js"></script>
<script src="_JS_/tasks.js" type="text/javascript"></script>


<script>
    function edit(node) {
        document.getElementsByName('id').item(0).setAttribute('value',node.parentNode.id);
        $('#editModal').modal('show')
    }

    function delete_user(node) {
        if(window.confirm("删除是不可恢复的，你确认要删除该用户吗？")){
            window.location="__URL__/deleteUser/uid/"+node.parentNode.id;
        }
    }

    function modify_auth(node) {
        document.getElementsByName('authForm').item(0).setAttribute('action','__URL__/modifyAuth/uid/'+node.parentNode.id);
        $('#authModal').modal('show')
    }


</script>

</body>
</html>
