<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="__URL__/../HomePage/profile">
                <img src="__ROOT__/upload/profile/profile{$user.id}.jpg" class="img-circle" width="60" height="60"
                     onerror="this.src='__ROOT__/upload/profile/profile-default.jpg'">
            </a></p>
            <h5 class="centered">{$user.username}</h5>

            <li class="mt">
                <a class=[main] href="__URL__/../HomePage/index">
                    <i class="fa fa-dashboard"></i>
                    <span>主 页</span>
                </a>
            </li>

            <li class="sub-menu">
                <a class="[new]" href="__URL__/../Note/newNote" >
                    <i class="fa fa-desktop"></i>
                    <span>快 速 开 始</span>
                </a>
            </li>

            <li class="sub-menu">
                <a class="[mynote]" href="javascript:;" >
                    <i class="fa fa-cogs"></i>
                    <span>我 的 笔 记</span>
                </a>
                <ul class="sub">
                    <li  class="[note_by_book]"><a href="__URL__/../Note/noteByBook">笔 记 本 查 看</a></li>
                    <li  class="[note_by_time]"><a href="__URL__/../Note/noteByTime">时 间 查 看</a></li>
                    <li  class="[note_by_tag]"><a href="__URL__/../Note/noteByTag">标 签 查 看</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="[friend]" href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>关 注</span>
                </a>
                <ul class="sub">
                    <li  class="[following]"><a href="__URL__/../Follow/following">我 的 关 注</a></li>
                    <li  class="[followers]"><a href="__URL__/../Follow/followers">谁 关 注 我</a></li>
                    <li  class="[search]"><a href="__URL__/../Follow/searchUser">用 户 搜 索</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="[social]" href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>社 区</span>
                </a>
                <ul class="sub">
                    <li  class="[public_note]"><a  href="__URL__/../Social/publicNote"> 笔 记 圈</a></li>
                    <li  class="[other_share]"><a  href="__URL__/../Social/otherShare"> 好 友 分 享</a></li>
                    <li  class="[my_share]"><a  href="__URL__/../Social/myShare"> 我 的 分 享</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-th"></i>
                    <span>等 级 评 分</span>
                </a>
                <ul class="sub">
                    <li><a  href="#">等 级 查 看</a></li>
                    <li><a  href="#">笔 记 评 分</a></li>
                    <li><a  href="#">其 他 数 据</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->