<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>EASYNOTE - Make Notes Simple</title>

    <!-- Bootstrap core CSS -->
    <link href="_CSS_/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="_PUBLIC_/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="_CSS_/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="_JS_/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="_PUBLIC_/lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="_CSS_/style.css" rel="stylesheet">
    <link href="_CSS_/style-responsive.css" rel="stylesheet">

    <script src="_JS_/chart-master/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <include file="Public/header"/>
    <include file="Public/user_menu" mynote="active"/>
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> {$note.title}</h3>

            <div class="note-full-operate">
                <p>修改于：<b>{$note.modify_time}</b></p>
                <p>创建于：<b>{$note.create_time}</b></p>

                <php>$tags=explode('；',$note['tags']);</php>
                <for start="0" end="count($tags)" step="1">
                    <php>$tag=$tags[$i];</php>
                    <span class="label label-info" style="font-size: 14px;margin-right: 10px">{$tag}</span>
                </for>

                <p>状态：<b>{$note.stat}</b></p>
                <i class="fa fa-share fa-2x" onclick="share_note()"></i>
                <i class="fa fa-edit fa-2x" onclick="edit_note()"></i>
                <i class="fa fa-trash-o fa-2x" onclick="delete_note()"></i>
            </div>

            <div class="note-content-wrap">
                <div class="note-content-full">{$note.content}</div>
            </div>

            <h3 style="font-size: 18px"><i class="fa fa-comments-o"></i> 评 论 区</h3>

            <div class="col-lg-12">
                <div class="share-panel-full">
                    <php>if(count($comments)==0){echo '<p style="text-align: center;font-size: 18px">暂无评论</p>';}</php>

                    <foreach name="comments" item="cmt">
                        <div class="share-panel-header" style="display: inline-block">
                            <div class="photo">
                                <img src="/upload/profile/profile{$cmt.uid}.jpg" width="100px" style="margin-left: -20px"
                                     onerror="this.src='/upload/profile/profile-default.jpg'">
                            </div>

                            <div class="details" style="float:left;width: 980px">
                                <p>
                                    <a href="#">{$cmt.username}</a> 评论了这篇笔记<br>
                                    <i style="font-size: 16px">&nbsp;“{$cmt.content}”</i></p>
                            </div>

                            <div class="title" style="position:relative;float: left">

                                <p style="font-style: italic">评论时间：{$cmt.cmt_time}</p>

                            </div>
                        </div>
                        <hr>
                    </foreach>
                </div>
            </div><!-- /col-lg-12 -->


            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="shareModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"> 分 享 </h4>
                        </div>
                        <form action="__URL__/shareNote" method="post">
                            <div class="modal-body">
                                <p>请输入TA的ID：</p>
                                <input type="text" name="uid" class="form-control" onchange="validate(this)">

                                <br>
                                <p>请输入分享理由:</p>
                                <input type="text" name="reason" value="快来看看吧" autocomplete="off"
                                       class="form-control placeholder-no-fix">
                                <input type="hidden" name="nid" value="{$note.id}">

                                <br>
                                <p>请选择TA的权限</p>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="share_stat" value="4">
                                        可以编辑、分享
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="share_stat" value="3" checked>
                                        可以阅读、分享
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="share_stat" value="2">
                                        可以编辑，不可以分享
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="share_stat" value="1">
                                        可以阅读，不可以编辑、分享
                                    </label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取 消</button>
                                <button disabled id="share-button" class="btn btn-theme" type="submit">分 享</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- modal -->


        </section>
    </section>


    <!--main content end-->
    <include file="Public/footer" />
</section>
</body>
</html>

<!-- js placed at the end of the document so the pages load faster -->
<script src="_JS_/jquery.js"></script>
<script src="_JS_/jquery-1.8.3.min.js"></script>
<script src="_JS_/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="_JS_/jquery.dcjqaccordion.2.7.js"></script>
<script src="_JS_/jquery.scrollTo.min.js"></script>
<script src="_JS_/jquery.nicescroll.js" type="text/javascript"></script>
<script src="_JS_/jquery.sparkline.js"></script>

<!--common script for all pages-->
<script src="_JS_/common-scripts.js"></script>

<script>

    function delete_note() {
        if(window.confirm("删除是不可恢复的，你确认要删除这篇笔记吗？")){
            window.location="__URL__/deleteNote/nid/"+{$note.id};
        }
    }

    function edit_note() {
        window.location="__URL__/editNote/nid/"+{$note.id};
    }

    function share_note() {
        $('#shareModal').modal('show')
    }

    function validate(node) {
        var button = document.getElementById("share-button");
        if(node.value==""){
            button.setAttribute("disabled","true");
        }
        else{
            $.post("__URL__/validate",
                {
                    uid:node.value
                },
                function(data,status){
                    if(data=="true")
                        button.removeAttribute("disabled");
                    else{
                        alert("该用户不存在")
                        button.setAttribute("disabled","true");
                    }
                });

        }
    }

</script>


</body>
</html>

