<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="一个用来记笔记的网站">
    <meta name="author" content="jqwu">
    <meta name="keyword" content="jqwu,easynote, note, 笔记">

    <title>EASYNOTE - Make Notes Simple</title>

    <!-- Bootstrap core CSS -->
    <link href="_CSS_/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="_PUBLIC_/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="_JS_/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="_PUBLIC_/lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="_CSS_/style.css" rel="stylesheet">
    <link href="_CSS_/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <include file="Public/header"/>
    <include file="Public/user_menu" social="active" my_share="active"/>
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row">
                <div class="col-lg-9 main-chart">
                    <h3><i class="fa fa-angle-right"></i> 我 的 分 享</h3>


                    <foreach name="shares" item="share">
                        <! -- SHARE PANEL -->
                            <div class="col-lg-12 mb">
                                <div class="share-panel pn">
                                    <div class="share-panel-header" style="display: inline-block">
                                        <div class="photo">
                                            <img src="/upload/profile/profile{$share.uid_to}.jpg" width="100px" style="margin-left: -20px"
                                                 onerror="this.src='/upload/profile/profile-default.jpg'">
                                        </div>

                                        <div class="details" style="float:left">
                                            <p>
                                                <a href="#">{$share.username}</a> 收到了我分享的一篇笔记：</p>
                                                <p style="font-size: 16px;font-style: italic;">&nbsp;“{$share.reason}”</p>
                                        </div>

                                        <div class="title" >
                                            <p style="font-size: 16px;font-weight: bold">《{$share.title}》</p>

                                            <php>$alltags = explode("；",$share['tags'])</php>
                                            <foreach name="alltags" item="tag">
                                                <span class="label label-info" style="font-size: 12px;margin-right: 5px">{$tag}</span>
                                            </foreach>

                                        </div>

                                    </div>
                                    <br>

                                    <div class="share-panel-content">
                                        {$share.content|htmlspecialchars_decode}
                                    </div>
                                    <br>

                                    <div class="share-panel-footer">
                                        <p style="float: left;color: #818182;position: absolute;bottom: 5px">分享时间：{$share.modify_time}</p>
                                        <div id="{$share.id}" class="share-panel-operator">
                                            <button name="{$share.nid}" class="btn btn-warning" onclick="vote(this)"><i class="fa fa-heart"></i>&nbsp;{$share.votes}</button>
                                            <button name="{$share.share_stat}" class="btn btn-warning" onclick="modify_auth(this)"><i class="fa fa-cog">&nbsp;权限</i></button>
                                            <button name="{$share.id}" class="btn btn-warning" onclick="more(this)">阅读原文&nbsp;<i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>

                                </div>

                            </div><!-- /col-lg-12 -->
                        <br>
                    </foreach>


                </div>

                <div class="col-lg-3 ds">
                    <!-- COMMENT PANEL -->
                    <h3>好友评论</h3>

                    <foreach name="comments" item="comment">

                        <div class="desc">
                            <div class="thumb">
                                <img src="/upload/profile/profile{$comment.uid}.jpg" width="80px" style="margin-left: -15px"
                                     onerror="this.src='/upload/profile/profile-default.jpg'">
                            </div>
                            <div class="details">
                                <p><muted>{$comment.cmt_time}</muted><br/>
                                    <a href="#">{$comment.username}</a> 评论了<strong>《{$comment.title}》</strong>：{$comment.content}<br/>
                                </p>
                            </div>
                        </div>
                    </foreach>

                    <php>if(count($comments)==0){echo '<p style="text-align: center;padding:10px 0">暂无评论</p>';}
                        else {echo '<p style="text-align: center;padding:10px 0"><a style="color: #ff865c" href="__URL__/../Social/otherComment">>> 前往评论区</a></p>';}</php>



                    <!-- VOTE PANEL -->
                    <h3>好友点赞</h3>

                    <foreach name="votes" item="vote">

                        <div class="desc">
                            <div class="thumb">
                                <img src="/upload/profile/profile{$vote.uid}.jpg" width="80px" style="margin-left: -15px"
                                     onerror="this.src='/upload/profile/profile-default.jpg'">
                            </div>
                            <div class="details">
                                <p><muted>{$vote.vote_time}</muted><br/>
                                    <a href="#">{$comment.username}</a> 点赞了<strong>《{$vote.title}》</strong><br/>
                                </p>
                            </div>
                        </div>
                    </foreach>

                    <php>if(count($votes)==0){echo '<p style="text-align: center;padding:10px 0">暂无点赞</p>';}</php>
                </div><!-- /col-lg-3 -->
            </div>


            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="shareModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"> 修 改 分 享 权 限 </h4>
                        </div>
                        <form action="__URL__/modifyAuth" method="post">
                            <div class="modal-body">
                                <p>请选择TA的权限</p>

                                <input type="hidden" name="sid" value="">

                                <div class="radio">
                                    <label>
                                        <input id="radio4" type="radio" name="share_stat" value="4">
                                        可以编辑、分享
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input id="radio3" type="radio" name="share_stat" value="3">
                                        可以阅读、分享
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input id="radio2" type="radio" name="share_stat" value="2">
                                        可以编辑，不可以分享
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input id="radio1" type="radio" name="share_stat" value="1">
                                        可以阅读，不可以编辑、分享
                                    </label>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取 消</button>
                                <button class="btn btn-theme" type="submit">确 认</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- modal -->


        </section>
    </section>


    <!--main content end-->
    <include file="Public/footer" />
</section>
</body>
</html>

<!-- js placed at the end of the document so the pages load faster -->
<script src="_JS_/jquery.js"></script>
<script src="_JS_/jquery-1.8.3.min.js"></script>
<script src="_JS_/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="_JS_/jquery.dcjqaccordion.2.7.js"></script>
<script src="_JS_/jquery.scrollTo.min.js"></script>
<script src="_JS_/jquery.nicescroll.js" type="text/javascript"></script>
<script src="_JS_/jquery.sparkline.js"></script>

<!--common script for all pages-->
<script src="_JS_/common-scripts.js"></script>

<script>

    function modify_auth(node) {
        var sid = node.parentNode.id;
        var stat = node.name;
        document.getElementById('radio'+stat).setAttribute("checked","");
        document.getElementsByName('sid').item(0).setAttribute("value",sid);

        $('#shareModal').modal('show')
    }

    function vote(node) {
        $.post("__URL__/vote",
            {
                nid:node.name
            },
            function(data,status){
                node.innerHTML='<i class="fa fa-heart"></i>&nbsp;'+data;
            });
    }

    function more(node) {
        window.location="__URL__/share/sid/"+node.name;
    }
</script>

